@charset "utf-8";
/* CSS Document */
main, header, section, aside, footer {
	margin: 0;
	padding: 20px;
	border: 1px solid #000000;
	color: #ffffff;
}

main {
	background: #000000;
}

header {
	background: #03a9f4;
}
.hero {
	background: #d22b1f;
}
.content {
	background: #129a22;
}
.sidebar {
	border: 1px solid #000000;
	background: #673ab7;
}
footer {
	border: 1px solid #000000;
	background: #616161;
}

